body {
  background-color: darkslategray;
  color: #fff;
  font-family: monospace;
  width:100%;
}
.App,.App div {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

img {
  width: 50%;
}